* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0080C0;
}

.middle {
  width: 460px;
  margin: 0 auto;
}
.menu{
  width: 200px;
  color: #fff;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  border: 3px solid #fff;
  border-radius: 10px;
  float: left; /* Обтекание по правому краю */
}
.menu1{
  width: 200px;
  color: #fff;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  border: 3px solid #fff;
  border-radius: 10px;
  float: left;
}
h1 {
  margin: 50px 0 0 0;
  color: #fff;
  font-family: 'Indie Flower', cursive;
  font-size: 48px;
  font-weight: normal;
  text-align: center;
}
h2{
  margin: 50px 0 0 0;
  color: #fff;
  font-family: 'Indie Flower', cursive;
  font-size: 28px;
  font-weight: normal;
  text-align: center;
}
label {
    display: block;
    padding: 0.5em 0.5em 0.5em 2em;
}
input {
    float: left;
    position: relative;
    top: 0.5em;
    left: 0.5em;
}
#fancy-inputs {
  float: left;
  width: 100%;
  margin: 0 0 50px 0;
}
#fancy-inputs label.input {
  float: left;
  width: 460px;
  height: 42px;
  margin: 50px 0 0 0;
  position: relative;
  
}
#fancy-inputs label.input span {
  width: 100%;
  height: 40px;
  position: absolute;
  left: 0;
  cursor: text;
}
#fancy-inputs label.input span span {
  position: absolute;
  top: 0;
  z-index: 1;
  font-family: 'Indie Flower', cursive;
  font-size: 22px;
  color: #fff;
  text-indent: 10px;
}
.r{
  font-family: 'Indie Flower', cursive;
  font-size: 22px;
  color: #fff;
  text-indent: 10px;
}
#fancy-inputs label.input span:before {
  content: '';
  width: 0%;
  height: 3px;
  background-color: #2C3E50;
  position: absolute;
  bottom: 0;
  left: 0;
}
#fancy-inputs label.input span:after {
  content: '';
  width: 0%;
  height: 3px;
  background-color: #2C3E50;
  position: absolute;
  bottom: 0;
  right: 0;
}
#fancy-inputs input {
  float: left;
  width: 460px;
  height: 40px;
  padding: 0 10px;
  border: 0;
  border-bottom: 3px solid #fff;
  background-color: transparent;
  color: #fff;
  font-family: 'Indie Flower', cursive;
  font-size: 22px;
  position: relative;
}
#fancy-inputs input:focus {
  outline: 0;
}
#fancy-inputs input.white {
  background-color: #E74C3C;
}
#fancy-inputs input:focus + span span {
  cursor: initial;
  position: absolute;
  top: -35px;
  color: #2C3E50;
}
#fancy-inputs input:focus + span:before {
  width: 50%;
}
#fancy-inputs input:focus + span:after {
  width: 50%;
}
.btn {
  float: left;
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin: 0 0 50px 0;
  background-color: #2C3E50;
  color: #fff;
  font-family: 'Indie Flower', cursive;
  font-size: 22px;
  text-decoration: none;
  text-align: center;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}
.btn1 {
  width: 60%;
  height: 35px;
  line-height: 50px;
  margin: 0 0 0 80px;
  background-color: #2C3E50;
  color: #fff;
  font-family: 'Indie Flower', cursive;
  font-size: 22px;
  text-decoration: none;
  text-align: center;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}
.btn2 {
  width: 80%;
  height: 100px;
  line-height: 50px;
  margin: 0 0 0 50px;
  background-color: #2C3E50;
  color: #fff;
  font-family: 'Indie Flower', cursive;
  font-size: 22px;
  text-decoration: none;
  text-align: center;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}
.btn:hover {
  background-color: #374b60;
}
.error_1{
	  float: left;
  width: 460px;
  height: 42px;
  margin: 50px 0 0 0;
  position: relative;
    border: 2px solid red;
}